/*   ========= Google Fonts =============== */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

/* Global Variable */
:root{
    --sideBGColor: #212121;
    --themeColor: #F95738;
    --iconBGColor: #EE964B;
    --textColor: #fff;
    --bgColor: #D2D7DF;
}
body{
    background-color: black;
}
/* -------------------------------------------------- */
/* Cursur Animation */
.cursor{
    z-index: 999;
    position: fixed;
    background-color:var(--themeColor);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: 0;
    animation-iteration-count: infinite;
    display: none;
    
}

/* -------------------------------------------------- */

/* ============== Header section  Start===================== */

/* ============================== Nav bar Start ================================== */
.header .header-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    background-color: var(--sideBGColor);
}
.header .header-items .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header .header-items .nav-bar .nav-bar-items a{
    margin-left: 40px;
    color: var(--textColor);
    text-decoration: none;
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}
.header .header-items .nav-bar .nav-bar-items a:hover{
    color: var(--themeColor);
}
.header .header-items .nav-bar .nav-bar-items a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--themeColor);
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
    z-index: 99;
}
.header .header-items .nav-bar .nav-bar-items a:hover::after{
    transform: scaleX(1);
    z-index: 99;
}
.header .header-items .nav-bar .btn a{
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid var(--textColor);
    height: 32px;
    text-decoration: none;
    padding: 3px 12px;
    color: var(--textColor);
    text-align: center;
    border-radius: 12px;
    gap: 10px;
}
.header .header-items .nav-bar .btn a:hover{
    background-color: var(--sideBGColor);
    color: var(--themeColor);
    border: 2px solid var(--themeColor);

}
/* ===Mobile Toggle=== */
#MenuBtn{
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    color: white;
    padding: 5px;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
    z-index: 999;
    display: none;
}

/*  ============== mobile views ======================== */
@media only screen and (max-width:760px){
    .header .nav-bar{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 300px;
        height: 500px;
        left: -300px; 
        z-index: 999;
    }
    /* .header .nav-bar .nav-bar-items{
        
        
    } */
    .header .nav-bar .btn{
        display: flex;
        justify-content: space-evenly;
    }
    .header .nav-bar .btn button{
        flex-direction: row;
    }
    #MenuBtn{
        display: block;
    }
   
}
/* Mobile Toggle */
.header .mobile-nav-active  {
    left: 0;
}
/* ============================== Nav bar End ================================== */
/* ============== Header section End===================== */


/* ================================== Home Section Start===================================== */
/*  ================= Background images =================== */
#home{
    width: 100%;
   height: 580px;
}
 #home #imges{
   width: 600px;
   height: 500px;
   border-radius: 20px;
   background-size: contain;
   position: relative;
   margin-left: 700px;
   margin-top: 40px;
}


#home h3{
    position: absolute;
    top: 30%;
    left: 30px;
    font-family: "Playfair Display", serif;
    font-size: 90px;
    font-weight: 900;
    color: var(--themeColor);
    
}
#home h3 span{
    position: absolute;
    top: 20%;
    left: 450px;
    font-size: 60px;
    font-family: "Nunito", serif;
    font-weight: 700;
    color: var(--bgColor);
}
#home .auto-input{
    margin-top: 40px;
    position: absolute;
    top: 40%;
    left: 30px;
    font-family: "Nunito", serif;
    font-size: 70px;
    font-weight: 900;
    color: var(--bgColor);
}
#home p{
    width: 40vw;
    margin-top: 40px;
    position: absolute;
    top: 60%;
    left: 30px;
    font-family: "Nunito", serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--bgColor);
    white-space: pre-wrap; /* Allows text to wrap naturally */
    overflow: hidden; /* Ensures only visible content is shown */
    border-right: 0.15em solid var(--themeColor); /* Typing cursor effect */
    letter-spacing: 0.015em;
    line-height: 1.5; /* Adjust spacing between lines */
    animation: blink-caret 0.75s step-end infinite;
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from { 
        border-color:  transparent; 
    }
    to {
         border-color: var(--themeColor); 
        }
  }
  /*  ============== mobile views ======================== */
  @media only screen and (max-width:760px){
    #home{
        width: 100%;
       height: 500px;
    }
    #home #imges{
        width: 100%;
        height:500px;
        border-radius: 0;
        filter: contrast(40%);
        position: relative;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    #home h3{
        top: 20%;
        left: 18%;
        font-size: 5rem;
        
    }
    #home h3 span{
        top: 28%;
       left: 108%;
        font-size: 3rem;
        color: black;
    }
    #home .auto-input{
        font-size: 4rem;
        top: 28%;
        left: 18%;
        color: black;
    }
    #home p{
        width: 65%;
        font-size: 1rem;
        font-weight: 500;
        top: 50%;
        left: 18%;
        color: black;
    }
  }
/* ================================== Home Section End ===================================== */
/* ------------------------------------------------------------------------------------------------------------------- */
  /* ==========================================  Events Section Starts ================================= */

.behind_heading {
    position: absolute;
    opacity: 0.4;
    font-size: 1.4rem;
    color: var(--muted-color);
  }
  
  .scroll_events {
    padding: 20px;
    position: relative;
    top: 1.6rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .section-header {
    border-left: 0.5rem var(--primary-color) solid;
    padding-left: 0.8rem;
  }
  
  .section-header h1{
    text-align: left;
    margin: 20px 0 10px 20px;
    font-family: "Bai Jamjuree", serif;
    font-weight: 500;
    font-size: 35px;
    color: #fff;
    position: relative;
}
.section-header h1::after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: -6px;
    width: 200px;
    height: 3px;
    background: var(--themeColor);
    border-radius: 5px;
    transform: scaleX(1);
    transition: .5s;
    z-index: 99;
}
  .section-header a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--iconBGColor);
    text-decoration: none;
  }
  
  .section-header a:hover {
    text-decoration: underline;
    font-size: 1.3rem;
    color: rgba(68, 152, 180, 0.923);
  }
  
  /* Sports card container with scroll feature */
  .sports-cards {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto; /* Horizontal scroll */
    scroll-snap-type: x mandatory; /* Smooth snapping effect */
    scrollbar-width: none;
  }
  
  .event-card {
    flex-shrink: 0; /* Prevent shrinking */
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .event-card:hover {
    transform: scale(1.05);  
    border-color: var(--primary-color); 
    transition: transform 0.3s ease, border-color 0.3s ease;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  
  .image-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .event-title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 1.8em;
    color: #fff;
    font-weight: bold;
    z-index: 2;
  }
  
  .share-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .share-button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .event-content {
    padding: 15px;
  }
  
  .tags {
    margin: 10px 0;
  }
  
  .tags span {
    display: inline-block;
    background-color: var(--iconBGColor);
    color: #333;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    font-size: 0.9em;
    border-radius: 20px;
  }
  
  .event-name {
    font-weight: bold;
    font-size: 1em;
    margin: 10px 0;
    color: #444;
  }
  
  .venue {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
  }
  
  .date-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .date {
    font-weight: bold;
    color: var(--themeColor);
  }
  
  .details-button {
    padding: 8px 12px;
    background-color: var(--themeColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .details-button:hover {
    background-color: var(--themeColor);
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .pagination button:hover {
    background-color: #444;
  }
   
  @media (max-width:768px){
    .behind_heading {
     font-size: 0;
      
    }
    .section-header h1 {
      font-size: 1rem; 
    } 
    .section-header a {
      font-size: 0.5rem; 
    }
  }
  /* past events css */
  .past-events {
    margin-top: 2rem;
  }
  
  .past-events .section-header {
    border-left: 0.5rem var(--secondary-color) solid;
    padding-left: 0.8rem;
  }
  
  .past-events .section-header h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--secondary-color);
  }
  
  .past-events .section-header a {
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .past-events .section-header a:hover {
    text-decoration: underline;
  }
  
  .past-events .sports-cards {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap; /* Ensures cards wrap to new lines if needed */
  }
  
  .past-events .event-card {
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .past-events .event-card:hover {
    transform: scale(1.05);
    border-color: var(--secondary-color);
  }
  /* ==========================================  Events Section Ends ================================= */
  /* ----------------------------------------------------------------------------------------------------------------------- */
/* ================================== Sports Section Starts ===================================== */

#sports .sports-section {
            background-color: var(--sideBGColor);
            font-family: Arial, sans-serif;
            margin: 18px;
            padding: 12px 50px;
            border-radius: 5px;
        }
        #sports .sports-header {
            text-align: left;
            font-size: 2em;
            margin-bottom: 20px;
            color: #fff;
            position: relative;
            display: inline-block;
        }
        #sports .sports-header::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 50%;
            height: 3px;
            background-color: #f95738;
            transition: width 0.3s;
        }
        #sports  .sports-header:hover::after {
            width: 120%;
        }
        #sports  .carousel-container {
            position: relative;
            width:100% ;
            height: 66vh;
        }
        #sports .carousel {
            display: flex;
            overflow-x: auto;
            gap: 40px;
            padding: 10px;
            scroll-behavior: smooth;
            height: 100%;
            align-items: center;
        }
        #sports  .carousel::-webkit-scrollbar {
            display: none;
        }
        #sports  .carouselitem {
            width: 300px;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            position: relative;
            flex: 0 0 300px;
            transition: flex 0.3s ease-in-out;
        }
        #sports .carouselitem img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: filter 0.3s;
        }
        #sports .carouselitem h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            font-size: 2.5em;
            font-weight: 700;
            color: #fff;
            opacity: 0;
            transition: opacity 0.3s;
        }
        #sports .carouselitem:hover h3 {
            opacity: 1;
        }
        #sports .carouselitem:hover img {
            filter: brightness(0.5);
        }
        #sports .carouselitem:hover {
            flex: 0 0 350px;
        }
        #sports .carouselitem:hover::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: var(--themeColor);
        }
        #sports .carousel-controls {
            position: absolute;
            width: 96%;
            top: 50%;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transform: translateY(-50%);
            pointer-events: none;
        }
        #sports .button {
            cursor: pointer;
            padding: 6px;
            background-color: rgba(0, 0, 0, 0);
            color: #fff;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            font-size: 1.5em;
            transition: background-color 0.3s;
            pointer-events: auto;
        }
        #sports .button:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        
/* ================================== Sports Section End ===================================== */

/* --------------------------------------------------------------------------------------------------------------------- */
   
/* ================================== About Section Start ===================================== */
#about{
    height: 750px;
    margin: 18px;
    padding: 5px 70px;
    border-radius: 5px;
    position: relative;
    background-color: var(--sideBGColor);
}
#about h2{
    text-align: center;
    margin: 20px 0 10px 20px;
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    position: relative;
}
#about h2::after{
    content: '';
    position: absolute;
    left: 45%;
    bottom: -6px;
    width: 100px;
    height: 3px;
    background: var(--themeColor);
    border-radius: 5px;
    transform: scaleX(1);
    transition: .5s;
    z-index: 99;
}
#about .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12em;
    padding: 10px;
    
}
#about .container .box{
    position: relative;
    height: 620px;
    background-color: var(--textColor);
    color: var(--sideBGColor);
    padding: 20px;
    border-radius: 10px;

}
#about .container .box-1{
    margin-left: 20px;
    animation: rotatingwall1 2s ease-out ;
}
@keyframes rotatingwall1{
    from{
        left: -100px;
    }
    to{
        left: 0;
    }

}
#about .container .box-2{
    margin-right: 80px;
    animation: rotatingwall2 2s ease-out;
}
@keyframes rotatingwall2{
    from{
        right: -100px;
    }
    to{
        right: 0;
    }

}
#about .container .box .img-items img{
    width: 25em;
    height: 19em;
    margin-bottom: 20px;
}
#about .container .box .info{
    width: 25em;
    height: 18em;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

#about .container .box .info p{
    letter-spacing: .5px;
    margin-bottom: 16px;
}
#about .container .box .info .para-1::before{
    content: '';
    position: absolute;
    left: 15px;
    top: 56%;
    width: 2px;
    height: 110px;
    background: black;
    transform: scaleX(1);
    transition: .5s;
    z-index: 99;
}
#about .container .box .info .para-2::before{
    content: '';
    position: absolute;
    left: 15px;
    top: 78%;
    width: 2px;
    height: 110px;
    background: black;
    transform: scaleX(1);
    transition: .5s;
    z-index: 99;
}
#about .container .box .info .dot-1{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 9px;
    top: 55%;
    background-color: black;

}

#about .container .box .info .dot-2{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 9px;
    top: 78%;
    background-color: black;

}
/* ====================================== Mobile View ==================================================== */
@media only screen and (max-width:760px){
    #about{
        width: 100%;
        height: 520px;
        padding:5px  0;
    }
    #about .container{
        gap: 2.5em;
        padding: 10px;
    }
    #about h2{
        font-size: 1.75rem;
    }
    #about .container .box{
        width: 15.5em;
        height: 400px;
        padding: 10px;
        border-radius: 8px;
        
    }
    #about .container .box-1{
         margin-left: 5px;
    }
    #about .container .box-2{
          margin-right: 50px;
    }
    #about .container .box .img-items img{
        width: 14em;
        height: 10em;
        margin-bottom: 20px;
    }
    #about .container .box .info{
        width: 23em;
        font-size: 10px;
        font-weight: 400;
        margin-left: 10px;
    }
    
    #about .container .box .info .para-1::before{
        left: 8px;
        top: 49%;
        height: 50px;
        width: 1px;
        height: 87px;
    }
    #about .container .box .info .para-2::before{
        left: 8px;
        top: 75%;
        height: 50px;
        width: 1px;
        height: 87px;
    }
    #about .container .box .info .dot-1{
        width: 10px;
        height: 10px;
        left: 4px;
        top: 49%;
    }
    
    #about .container .box .info .dot-2{
        width: 10px;
        height: 10px;
        left: 4px;
        top: 75%;
    }
}


@media only screen and (max-width:565px){
    #about{
        width: 100%;
        height: 520px;
        padding:5px  0;
    }
    #about .container{
        gap: 2.5em;
        padding: 10px;
    }
    #about h2{
        font-size: 1.75rem;
    }
    #about .container .box{
        width: 15.5em;
        height: 400px;
        padding: 10px;
        border-radius: 8px;
        
    }
    #about .container .box-1{
         margin-left: 5px;
    }
    #about .container .box-2{
          margin-right: 50px;
    }
    #about .container .box .img-items img{
        width: 14em;
        height: 10em;
        margin-bottom: 20px;
    }
    #about .container .box .info{
        width: 23em;
        font-size: 10px;
        font-weight: 400;
        margin-left: 10px;
    }
    
    #about .container .box .info .para-1::before{
        left: 8px;
        top: 49%;
        height: 50px;
        width: 1px;
        height: 87px;
    }
    #about .container .box .info .para-2::before{
        left: 8px;
        top: 75%;
        height: 50px;
        width: 1px;
        height: 87px;
    }
    #about .container .box .info .dot-1{
        width: 10px;
        height: 10px;
        left: 4px;
        top: 49%;
    }
    
    #about .container .box .info .dot-2{
        width: 10px;
        height: 10px;
        left: 4px;
        top: 75%;
    }
}
/* ================================== About Section End ===================================== */
/* ------------------------------------------------------------------------------------------------------------ */
/* =================================  Footer start ======================================== */
#footer{
    width: 100%;
    height: 200px;
    background-color: var(--sideBGColor);
    color: white;
}
#footer .upperbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#footer .upperbox .box{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    padding: 10px 0;
}
#footer .upperbox .box-3 .socailHnadles{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#footer .upperbox .box a{
    color: #D2D7DF;
    text-decoration: none;
}
#footer .upperbox .box a:hover{
    color: var(--themeColor);
}
#footer .lowerbox{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bgColor);
    padding: 10px 0;
}

#footer .lowerbox p,
#footer .lowerbox a{
    color: var(--textColor);
    font-size: 20px;
    text-decoration: none;
}
/* ==============================Mobile View =========================================== */
@media only screen and (max-width:760px){
    #footer .upperbox{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 17px;
        padding: 5px 10px;
    }
}
/* =================================  Footer End ======================================== */

